.main-menu {
    ul {
        float:right;

        @include tablet() {
            display: none;
            float: left;
            position: absolute;
            top: 20px;
            left: 0;
            z-index: 4;
            background:$dark;
            width: 100%;
            padding: 20px 20px 30px;
        }

        @include landscape-phone() {
            display: none;
            float: left;
            position: absolute;
            top: 20px;
            left: 0;
            z-index: 4;
            background: $dark;
        }
    }
}