//字體設定
$heading-font:'Playfair Display','Microsoft JhengHei', serif;
$body-font: 'Roboto','Microsoft JhengHei', sans-serif;

//顏色
$primary-color:#023373;
$primary-color:#BF3604;
$body-text:#777777;
$light:#ffffff;
$dark: #f9f9ff;
$border: #eeeeee;
$shadow: rgba(0,0,0,.1);
$footer: #BF3604;
$copyright: #0d0d27;
$blog-category: #F2B705;
$placeholder: #b0b0b0;
$overlay: rgba(1,7,16,.8);
$overlay2: rgba(1,7,16,.7);